.weathercard {
  background-color: #fff;
}
.weathercard > img {
  width: 12rem;
}

.weathercard-details > * {
  margin: 0;
}

.weathercard-wind > img {
  width: 1.5rem;
  height: auto;
}

.loading {
  height: 43vh;
}

@media only screen and (min-width: 768px) {
  .weathercard {
    height: 85vh;
    width: 100%;
    border-radius: 0.5rem;
    margin-right: 1rem;
    margin-left: 2rem;
  }
}
